body{
    font-family: 'Roboto','Courier New', Courier, monospace;
    margin: 0;
}

.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    color: #f9faf8;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links a{
    text-decoration: none;
    color: #E5E7EB;
}

